@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.bg-blue{
  background: rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(0, 0, 0, 0.36);
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: url(../public/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -1; */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
